 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #63ADB8;
active-foreground: #FDEFDB;
normal-background: #15171C;
normal-foreground: #FDEFDB;
urgent-background: #D89E97;
urgent-foreground: #FDEFDB;

alternate-active-background: #226682;
alternate-active-foreground: #FDEFDB;
alternate-normal-background: #15171C;
alternate-normal-foreground: #FDEFDB;
alternate-urgent-background: #15171C;
alternate-urgent-foreground: #FDEFDB;

selected-active-background: #D89E97;
selected-active-foreground: #FDEFDB;
selected-normal-background: #D89E97;
selected-normal-foreground: #FDEFDB;
selected-urgent-background: #63ADB8;
selected-urgent-foreground: #FDEFDB;

background-color: #15171C;
background: rgba(0,0,0,0.7);
foreground: #FDEFDB;
border-color: #63ADB8;

color0: #3C3E44;
color1: #031124;
color2: #031124;
color3: #1A4D62;
color4: #4A828A;
color5: #A27771;
color6: #BA9C71;
color7: #F3DFC3;
color8: #AA9C88;
color9: #041730;
color10: #041730;
color11: #226682;
color12: #63ADB8;
color13: #D89E97;
color14: #F8D097;
color15: #F3DFC3;


}

